<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="Helper_signup.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>

<div class="col-md-12 header">Fill those information to become a Super Helper</div>
<div class="container helperForm">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <label class="firstName">First Name</label>
        <br>
        <input type="text" name="firstName" required>
        <br>
        <label class="familyName" >Family Name</label>
        <br>
        <input type="text" name="familyName">
        <br>
        <label class="email">Email</label>
        <br>
        <input type="text" name="email" required>
        <br>
        <label class="password">Password</label>
        <br>
        <input type="password" name="firstName" required>
        <br>
        <br>
        <input type="submit" value="Submit your information">

    </div>
    <div class="col-md-3"></div>

</div>

</body>
</html>